<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="logbookApp" ng-controller="MainCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <growl-notifications></growl-notifications>
    <div ng-repeat="(id, notification) in notifications track by id">
      <growl-notification>
        {{notification}}
      </growl-notification>
    </div>

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <!-- Collapsed menu -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">Hajónapló</a>
          </div>

          <!-- Standard (not collapsed) menu -->
          <div class="collapse navbar-collapse" id="js-navbar-collapse" ng-controller="HeaderController">

            <!-- Buttons -->
            <ul class="nav navbar-nav" ng-if="authenticated">
              <li ng-class="{ active: isActive('/boats')}"><a href="#/boats">Hajók</a></li>
              <li ng-class="{ active: isActive('/regattas')}"><a ng-href="#/regattas">Versenyek</a></li>
              <li ng-class="{ active: isActive('/results')}"><a ng-href="#/results">Eredmények</a></li>
            </ul>

            <!-- Login -->
            <ul class="nav navbar-nav navbar-right" ng-controller="UserController">

              <!-- Login bar-->
              <li class="navbar-form" ng-hide="authenticated">
                <div class="form-group">
                  <input type="text" placeholder="Username" class="form-control" ng-model="principal">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control" ng-model="secret">
                </div>
                <button type="button" class="btn btn-success" ng-click="authenticate()">Bejelentkezés</button>
              </li>

              <!-- Logged in user -->
              <li class="dropdown" ng-if="authenticated">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bejelentkezve mint: {{user.username}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/user/profile">Profilom</a></li>
                  <li><a href="#/" ng-click="logout()">Kijelentkezés</a></li>
                </ul>
              </li>

              <li class="navbar-form" ng-if="authenticated">
                <select id="boat" class="form-control" ng-model="user.selectedBoat" ng-options="b.id as b.name for b in user.availableBoats">
                </select>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div ng-view=""></div>
    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-growl-notifications/dist/angular-growl-notifications.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/main/main.js"></script>

        <script src="scripts/clubs/ClubModel.js"></script>
        <script src="scripts/clubs/ClubService.js"></script>
        <script src="scripts/clubs/ClubControllers.js"></script>

        <script src="scripts/users/UserModel.js"></script>
        <script src="scripts/users/UserService.js"></script>
        <script src="scripts/users/UserController.js"></script>

        <script src="scripts/boats/BoatService.js"></script>
        <script src="scripts/boats/BoatControllers.js"></script>

        <script src="scripts/regattas/RegattaModel.js"></script>
        <script src="scripts/regattas/RegattaService.js"></script>
        <script src="scripts/regattas/RegattaControllers.js"></script>

        <script src="scripts/results/results.js"></script>
        <!-- endbuild -->
</body>
</html>
